WeatherOrNot.xcworkspace/xcuserdata/noskill.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WeatherOrNot.xcworkspace/xcuserdata/noskill.xcuserdatad/UserInterfaceState.xcuserstate
WeatherOrNot.xcodeproj/xcuserdata/noskill.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/noskill.xcuserdatad/xcschemes/xcschememanagement.plist
